<div class="panel-heading">
    <i class="fa fa-cog"></i> Verde™ Tokenization
</div>
<div class="form-wrapper">
    <div class="form-group row">
        <label class="control-label col-sm-2">Verde Enabled for Customers</label>
        <div class="col-sm-10" style="padding-top:9px;">
            <input type="checkbox" name="greenpay_verde_enabled" id="greenpay_verde_enabled" value="true" {{ greenpay_verde_enabled ? 'checked' : '' }} />
        </div>
    </div>
</div>